body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('../img/uploads/Gif-Animated-Wallpaper-Background-Full-HD-Free-Download-for-PC-Macbook-261121-Wallpaperxyz.com-47.gif');
    overflow: hidden; /* Empêche le défilement */
    height: 100vh; /* Assure que le corps occupe toute la hauteur de la vue */
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background: #36384d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px;
    margin-bottom: 100px;
}

.signup-container h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background: #f9f9f9;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #ea3636;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    background: #ff6f61;
}

footer {
    background-color: #212332;
    color: #fff;
    padding: 5px 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
